<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Colegio</title>
    <link rel="icon" href="/icons/school.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body onload="actReloj()">
    <div class="container-md bg-secondary p-2">
        <!-- menú opciones -->
        <div th:insert="menu::menu"></div>

        <!-- Banner -->
        <h1 class="text-primary text-center bg-info p-2">Mantenimiento de Alumnos</h1>

        <!-- Formulario de alumnos -->
        <form th:object="${alumno}" th:action="@{/alumnosSave}" method="post">

            <!-- Nombre -->
            <div class="mb-3 row m-4">
                <label for="nombre" class="col-sm-4 form-label text-light">Nombre:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nombre}" class="form-control text-primary bg-secondary-subtle"
                        id="nombre" minlength="3" maxlength="25" required>
                </div>
            </div>

            <!-- Apellido -->
            <div class="mb-3 row m-4">
                <label for="apellido" class="col-sm-4 form-label text-light">Apellido:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{apellido}" class="form-control text-primary bg-secondary-subtle"
                        id="apellido" minlength="3" maxlength="25" required>
                </div>
            </div>

            <!-- Edad -->
            <div class="mb-3 row m-4">
                <label for="edad" class="col-sm-4 form-label text-light">Edad:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{edad}" class="form-control text-primary bg-secondary-subtle"
                        id="edad" min="18" max="120" required>
                </div>
            </div>

            <!-- IdCurso -->
            <div class="mb-3 row m-4">
                <label for="curso" class="col-sm-4 form-label text-light">Curso:</label>
                <div class="col-sm-8">
                    <select class="form-select text-primary bg-secondary-subtle" th:field="*{IdCurso}"
                        aria-label="Default select example" id="curso">
                        <option th:each="curso : ${cursos}" th:value="${curso.id}"
                            th:text="${curso.id}+' '+${curso.titulo}+' '+${curso.profesor}+' '+${curso.dia}+' '+${curso.turno}">
                        </option>
                    </select>
                </div>
            </div>

            <!-- Botones -->
            <div class="mb-3 row m-4">
                <button type="submit" class="btn btn-success col-sm-4 m-2">Guardar</button>
                <button type="reset" class="btn btn-danger col-sm-4 m-2">Limpiar</button>
            </div>

            <!-- Info-->
            <div class="mb-3 row m-4">
                <label for="info" class="col-sm-4 form-label text-light">Información:</label>
                <div class="col-sm-8">
                    <input type="text" th:value="${mensaje}" class="form-control text-primary bg-secondary-subtle"
                        id="info" readonly>
                </div>
            </div>
        </form>

        <!-- Tabla Alumnos -->
        
        <table class="table table-secondary table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Curso</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alumno : ${likeNombre}">
                    <th scope="row" th:text="${alumno.id}"></th>
                    <td th:text="${alumno.nombre}"></td>
                    <td th:text="${alumno.apellido}"></td>
                    <td th:text="${alumno.edad}"></td>
                    <td th:text="${alumno.IdCurso}"></td>
                </tr>
            </tbody>
        </table>
    

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/js/reloj.js"></script>
</body>

</html>